*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container{
    max-width: 1440px;
    padding: 20px 40px;
    background: rgb(255, 255, 255);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        gap: 50px;
        li{
            color: rgb(105, 104, 113);
            font-family: DM Sans;
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -0.47px;
            text-align: left;
        }
    }
    button{
        border: none;
    border-radius: 10px;
    background: rgb(255, 113, 67);
    width: 200px;
    height: 60px;
    border: none;
    h6{
        color: aliceblue;
        color: rgb(255, 255, 255);
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.53px;
    text-align: center;
    }
    }
}

section{
    .main_div{
        display: flex;
        justify-content: space-between;
        .section_two{
            h1{
                margin-top: 100px;
                color: rgb(25, 25, 27);
                font-family: DM Sans;
                font-size: 80px;
                font-weight: 700;
                line-height: 70px;
                letter-spacing: -2.5px;
                text-align: left;
            }
            P{
                margin-top: 30px;
                color: rgb(105, 104, 113);
                font-family: Mulish;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: -0.63px;
            }
            button{
                margin-top: 50px;
                border: none;
                border-radius: 10px;
                background: rgb(84, 84, 212);
                width: 211px;
                height: 60px;
                h6{
                    color: rgb(255, 255, 255);
                    font-family: DM Sans;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: -0.53px;
                }
            }
        }
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
}

.section_three{
    margin-top: 150px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    .cont_three{
        // margin-right: 200px;
        h4{
            color: rgb(25, 25, 27);
            font-family: DM Sans;
            font-size: 50px;
            font-weight: 700;
            line-height: 57px;
            letter-spacing: 1.56px;
        }
        p{
            margin-top: 30px;
            color: rgb(105, 104, 113);
            font-family: Mulish;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -0.63px;
            margin-bottom: 30px;
        }
        a{
            color: rgb(84, 84, 212);
            font-family: DM Sans;
            font-size: 17px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: -0.53px;
        }
    }
}

.section_four{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .cont_four{
        h4{
            color: rgb(25, 25, 27);
            font-family: DM Sans;
            font-size: 50px;
            font-weight: 700;
            line-height: 57px;
            letter-spacing: 1.56px;
        }
        p{
            margin-top: 30px;
            color: rgb(105, 104, 113);
            font-family: Mulish;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -0.63px;
            margin-bottom: 30px;
        }
        a{
            color: rgb(84, 84, 212);
            font-family: DM Sans;
            font-size: 17px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: -0.53px;
        }
    }
}

.section_five{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    h5{
        margin-top: 20px;
        color: rgb(25, 25, 27);
        font-family: DM Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -0.75px;
    }
    p{
        color: rgb(105, 104, 113);
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.5px;
    }
}

.section_six{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h3{
        color: rgb(25, 25, 27);
        font-family: DM Sans;
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
    }
    button{
        border: none;
    width: 160px;
    height: 55px;
        border-radius: 10px 0px 0px 10px;
        background: rgb(84, 84, 212);
    }
    h6{
        color: rgb(255, 255, 255);
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: -0.5px;
    }
    .button{
        border: none;
    width: 160px;
    height: 55px;
    border-radius: 0px 10px 10px 0px;
    background: rgb(247, 247, 251);
    h6{
        color: rgb(25, 25, 27);
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: -0.5px;
    }
    }
}